:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto 0px;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

a {
  color: var(--primary-color);
}

li {
  text-align: left;
}

p {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 16px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.about-me-paragraphs {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.about-me-paragraphs p {
  background-color: var(--secondary-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
  padding: 20px;
}

.general-links {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}

.primary-link {
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.secondary-link {
  color: var(--primary-color);
}

#email {
  font-size: 28px;
  text-decoration: none;
}

#email:hover {
  text-decoration: underline;
}
